header{
    padding: 20px;
    background-color: black;
    color: aliceblue;
    text-align: center;
}

body{
    background-image: url(../images/bg.png);
    background-attachment: fixed;
    background-size: 100% 100%;
}

img{
    width: 150px;
    height: 150px;
}

.answer{
    padding: 10px;
    border: 1px solid red;
    width: fit-content;
    cursor: pointer;
}

.questionPanel{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.answerPanel{
    margin-top: 20px;
    text-align: -webkit-center;
}

.container{
    margin-top: 30px;
    width: 70%;
    background-color: rgba(255, 228, 196, 0.705);
}

.timer{
    text-align: center;
    padding: 20px;
    width: fit-content;
}

.timer1{
    text-align: -webkit-center;
}

.startContainer{
    text-align: center;
    min-height: 500px;
}

.questionContainer{
    min-height: 500px;
}

.spin{
    float: left;
}

.rest{    
    padding: 15px;
    width: 160px;
    margin-bottom: 30px;
}

#welcome{
    margin-top: 80px;
    margin-bottom: 110px;
}

#please{    
    margin-bottom: 80px;
}

#start{
    text-align: center;
    padding: 15px;
    width: 160px;
    margin-bottom: 30px;
}